 <meta charset="UTF-8"> 
<html>
	<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.3.3/css/patternfly.css"> -->

  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen" />
  
  <link type="application/font-sfnt" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.3.0/fonts/PatternFlyIcons-webfont.ttf">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <!-- Note: No other CSS files are needed regardless of what other JS packages located in patternfly/components that you decide to pull in -->
        <link rel="stylesheet" href="node_modules/patternfly/dist/css/patternfly.min.css" />
        <link rel="stylesheet" href="node_modules/patternfly/dist/css/patternfly-additions.min.css" />

        <!-- C3, D3 - Charting Libraries -->
        <script src="node_modules/c3/c3.min.js"></script>
        <script src="node_modules/d3/d3.min.js"></script>

       

        <!-- Bootstrap Combobox -->
        <script src="node_modules/patternfly-bootstrap-combobox/js/bootstrap-combobox.js"></script>

        <!-- Bootstrap Date Picker -->
        <script src="node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

        

<script src="https://cdnjs.cloudflare.com/ajax/libs/Nestable/2012-10-15/jquery.nestable.js" ></script>
        
<script type="text/javascript">
  
$(document).ready(function(){

      var obj= "<%= nodes %>";


      $(document).click(function(event){
      //alert($(event.target).attr('class'));

      if( $(event.target).hasClass('dd3-content')){
        $("#url").val($(event.target).attr('data-url'));
        var surl=window.location.href;

        $("#surl").val(surl);
        $("#myModal").modal();


      }else if($(event.target).hasClass('rmnode')){

              data={"url":$(event.target).attr('url'),"surl":window.location.href};

              $.ajax({

                url:'/removenodepost',
                data:data,
                method:'POST'

              });
            }
      });


      $('#nestable3 ol').append(decodeEntities(obj));

      $('#nestable3').nestable();

        function decodeEntities(s){
            var str, temp= document.createElement('p');
            temp.innerHTML= s;
            str= temp.textContent || temp.innerText;
            temp=null;
            return str;
        }




      $('form #nodes').submit(function(event){

        var data={'header':$('txt_head').val(),'value':$('txt_val').val(),'url':$('#url').val()};

        $.ajax({

             url:'/nodepost',
             data:data,
             method:'POST',
             

          }).done(function(data){

              console.log('testing 123');

          });

      });



});

</script>


	</head>



<body>
    <nav class="navbar navbar-default navbar-pf" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="col-md-2">
        <a class="navbar-brand" href="/">
          <img class="img img-responsive" style="max-width:100%;max-height:64px;" src="images/logo.png" alt="Pearson Enterprise Application">
        </a>
        </div>
        <div class="col-md-10">
       
          </div>    
      </div>
      
             
     
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div style="min-height: 397px;" class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="http">Http Config</a></li>
          </ol>

          <div class="row">

          <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a data-toggle="tab" href="#home">Http Configuration</a></li>
            <li><a data-toggle="tab" href="#menu1">Add Nodes</a></li>

          </ul>

<div class="tab-content">


  <div id="home" class="tab-pane fade in active">
  
     <div class="panel panel-default"> 
          <div class="panel-body col-md-7 col-md-push-2 well">
            <form class="form-horizontal" method="post" action="/httppost">


                <div class="box-header with-border">
                  
              <legend>Http Configuration</legend>
                </div>


                <% for(var i=0; i < elements.length; i++) { %>

                  <% if( elements[i].key == 'location' ) {%>




                  <% }else{ %>

                <div>
                  <div class="col-md-4"><label><%= elements[i].name %></label></div>

                  <div class="col-md-8">
                  
                      <div class="">

                        
                        <input class="form-control col-md-12" data='<%= elements[i].url %>' name='<%= elements[i].url %>' value='<%= elements[i].value %>' type="text">
                      </div><!-- /input-group -->
                    </div>
                  </div>

                 <% }   %>
                



               <% } %>



                  

                  <input type="submit" class="btn btn-default">

              </form>
             </div>
          </div>
         
        
  </div><!-- tab 1 closing-->


  <div id="menu1" class="tab-pane fade">
  
    <h3>Menu 1</h3>
    <div id="content">

        <div class="dd" id="nestable3">
            <ol class='dd-list'>
                
            </ol>
        </div>


    </div>
    
  </div>


  

</div><!--all tabs closing-->

          


 </div><!-- /col -->

 <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add new Node</h4>
      </div>
      <div class="modal-body">
        
<div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <i class="icon-calendar"></i>
          <h3 class="panel-title">Inputs</h3>
        </div>
       
        <div class="panel-body">
          <form class="form-horizontal row-border" id="nodes" method="post" action="/nodepost" >
            <div class="form-group">
              <label class="col-md-2 control-label">Header name</label>
              <div class="col-md-10">
                <input name="header" id="txt_head" class="form-control" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">Value</label>
              <div class="col-md-10">
                <input name="value" id="txt_val" class="form-control" type="text">
              </div>
            </div>

            <input type="hidden" name="url" value="" id="url">
            <input type="hidden" name="surl" value="" id="surl">
            <input type="submit" class="btn btn-primary" value="Save Changes"/>
                          
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

 </div>
        <div  class="col-sm-3 sidebar col-md-2 col-sm-pull-9 col-md-pull-10 sidebar-pf sidebar-pf-left ">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-head">
                <div class="row">
                <div class="col-md-3 ">
                 <img class="img " src="images/circle.png">
                 </div>
                 <div class="col-md-9">
                  <a  href="/" >
                    Dashboard
                  </a>
                  </div>
                  </div>
                </h4>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-head">
                <div class="row">
                <div class="col-md-3 ">
                 <img class="img " src="images/book.png">
                 </div>
                 <div class="col-md-9">
                  <a  href="swconfig">
                    Software Configuration
                  </a>
                  </div>
                  </div>  
                </h4>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-head">
                  <div class="row">
                <div class="col-md-3 ">
                 <img class="img " src="images/tool.png">
                 </div>
                 <div class="col-md-9">
                  <a href="main" >
                    Main Configuration
                  </a>
                  </div>
                  </div>
                </h4>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-head">
                <div class="row">
                <div class="col-md-3 ">
                 <img class="img " src="images/computer.png">
                 </div>
                 <div class="col-md-9">
                  <a  href="http">
                    Http Configuration
                  </a>
                  </div>
                  </div>  
                </h4>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-head">
                  <div class="row">
                <div class="col-md-3 ">
                 <img class="img " src="images/database.png">
                 </div>
                 <div class="col-md-9">
                  <a href="general" >
                    Backend Configuration
                  </a>
                  </div>
                  </div>
                </h4>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-head">
                  <div class="row">
                <div class="col-md-3 ">
                 <img class="img " src="images/ssl.png">
                 </div>
                 <div class="col-md-9">
                  <a href="#collapseTwo" >
                    SSL Configuration
                  </a>
                  </div>
                  </div>
                </h4>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-head">
                  <div class="row">
                <div class="col-md-3 ">
                 <img class="img " src="images/window.png">
                 </div>
                 <div class="col-md-9">
                  <a href="#collapseTwo" >
                    Path Configuration
                  </a>
                  </div>
                  </div>
                </h4>
              </div>
            </div>
            
          </div>
        </div><!-- /col -->
      </div><!-- /row -->



    </div><!-- /container -->

  

</body>

	

</html>
